# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.spec
venv/
.venv/

# Banco de dados
data/cyberbullying.db
data/debug.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Windows
Thumbs.db

# Documentos exportados
*.pdf

# Test DB
*test_override*
